.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  .card {
    /* background-color: #0000aa; */
    perspective: 1000px;
    margin: 1rem;
  }  
  .card-container {
    display: grid;
    grid-template-columns: 1fr;    
    transition: all 1s ease;
    transform-style: preserve-3d;
  }
  .card-front, .card-back{
      border-radius: 4%;
  }
  .card-front {
    grid-area: 1 / 1;
    transform: rotateY(180deg);
    background-color: #272727;
    
  }
  .card-back {
    grid-area: 1 / 1;
    background-color: #272727;   
  }
  
  .card-container img {
    width: 15rem;
  }
  .card:hover .card-container {
    transform: rotateY(180deg);
  }

  .card-front h1{      
      text-decoration:#606060 underline;
      margin-bottom: 5px;      
  }
  .card-front p{  
          padding-top: 10px;      
  }
  .card-back h1{
            padding-top: 10px;     
  }

  .card-text{
      height: 100%;
  }

  